@charset "UTF-8";
/* ----------------------- */
/* base
/* ----------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  color: #333;
}

svg {
  width: 100%;
  vertical-align: bottom;
}

a:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-wrapper {
  padding: 120px 0;
}

.content-wrapper {
  max-width: 700px;
  padding: 0 30px;
  margin: 0 auto;
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.gray-bg {
  background-color: #f2f2f2;
}

.lines {
  line-height: 2;
}

/* ----------------------- */
/* header
/* ----------------------- */
.site-title {
  width: 260px;
  position: fixed;
  top: 38px;
  left: 4vw;
  z-index: 1;
}

.site-title.black svg path {
  fill: #333;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.header-nav {
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  text-align: center;
  padding: 120px 0 0;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
}

.simbol-logo {
  width: 42.15px;
}

.nav-item {
  margin-bottom: 30px;
}

.nav-item:first-of-type {
  margin-bottom: 40px;
}

.nav-item:last-of-type {
  margin-bottom: 0;
}

.header-nav a {
  color: #fff;
}

/* ハンバーガーボタン（メニューが開いていないとき） */
.burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 3;
}

.bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}

.bar_top {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.bar_bottom {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.menu {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-left: 7px;
}

/* ハンバーガーボタン（メニューが開いたとき） */
.bar.cross.bar_top {
  -webkit-transform: translateY(2px) rotate(30deg);
          transform: translateY(2px) rotate(30deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.bar.cross.bar_mid {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.bar.cross.bar_bottom {
  -webkit-transform: translateY(-2px) rotate(-30deg);
          transform: translateY(-2px) rotate(-30deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

body.noscroll {
  overflow: hidden;
}

.header-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
}

.burger-musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.burger-btn.black .bar {
  background-color: #333;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.burger-btn.black .menu {
  color: #333;
  -webkit-transition: color .3s;
  transition: color .3s;
}

/* ----------------------- */
/* key visual
/* ----------------------- */
.fv {
  height: 60vh;
}

.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 60vh;
  z-index: -1;
}

.kv-wrapper {
  height: 86.5%;
  width: 76.4%;
  background-image: url(../images/heading-img_contact.jpg);
  background-size: cover;
  background-position: center 0;
  position: relative;
}

.copy-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #fff;
}

.main-copy {
  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: bold;
}

.sub-copy {
  font-size: 2rem;
  margin-top: 7px;
}

/* ----------------------- */
/* section_form
/* ----------------------- */
.form-wrapper {
  margin-top: 50px;
}

.must {
  background-color: #333333;
  color: #fff;
  margin-left: 20px;
  padding: 2px 5px;
  font-size: 1.2rem;
}

.form-item {
  margin-top: 40px;
}

.radio-btn-item {
  display: inline;
  margin-right: 50px;
}

.radio-btn-list {
  margin: 18px 0 0 15px;
}

.radio-btn {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: solid 1px #333;
  border-radius: 50%;
  vertical-align: -4px;
  cursor: pointer;
}

.input-text {
  height: 40px;
  margin-top: 8px;
  padding: 0 5px;
}

textarea {
  margin-top: 8px;
  padding: 10px 10px;
}

.policy {
  font-weight: bold;
}

.policy-detail {
  margin-top: 8px;
  padding: 10px 10px;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 1px solid #141414;
  width: 100%;
  color: #171717;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 250px;
  overflow: scroll;
}

.checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: -4px;
}

.agreement {
  text-align: center;
  margin-top: 40px;
}

.submit-btn {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 40px auto 0;
  cursor: pointer;
  width: 160px;
  padding: 8px 66px;
  background-color: #000000;
  color: #fff;
}

.submit-btn:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

/* ----------------------- */
/* footer
/* ----------------------- */
.footer {
  line-height: 50px;
  background-color: #525252;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

/* ----------------------- */
/* responsive
/* ----------------------- */
@media screen and (max-width: 768px) {
  /* ----------------------- */
  /* base sp
  /* ----------------------- */
  body {
    font-size: 1.4rem;
  }
  .section-wrapper {
    padding: 80px 0;
  }
  .content-wrapper {
    padding: 0 4vw;
  }
  /* ----------------------- */
  /* header_sp
  /* ----------------------- */
  .site-title {
    width: 180px;
    top: 21px;
  }
  .burger-btn {
    top: 28px;
  }
  .header-nav {
    width: 67.7vw;
  }
  /* ----------------------- */
  /* fv_sp
  /* ----------------------- */
  .copy-wrapper {
    right: -15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .main-copy {
    font-size: 5.2rem;
  }
  .sub-copy {
    font-size: 1.6rem;
  }
  /* ----------------------- */
  /* form_sp
  /* ----------------------- */
}

@media screen and (max-width: 425px) {
  /* ----------------------- */
  /* form_sp
  /* ----------------------- */
  .radio-btn-item {
    display: block;
    margin-bottom: 14px;
  }
  .agreement {
    font-size: 1.4rem;
    text-align: left;
  }
  .checkbox {
    width: 16px;
    height: 16px;
    vertical-align: -3px;
  }
}
/*# sourceMappingURL=contact.css.map */